{% extends "layout.html" %}

{% block title %}
Contact
{% endblock %}

{%block body%}
<h3 style="text-align: center;">Contact Us</h3>
<br>
<div class="container" style="text-align: center;">
    <form action="">
        <input type="text" placeholder="Full Name" name="Name">
        <br>
        <br>
        <input type="email" placeholder="Email address" name="email">
        <br>
        <br>
        <textarea name="Text" placeholder="Question?" cols="50" rows="10"></textarea>
        <button type="button" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}